.heading {
  color: $white;
  font-weight: $font-weight-bold;
  margin: 0 0 $spacer-sm 0;
}

h1 {
  @extend .heading;
  font-size: $font-size-xl;
}

h2 {
  @extend .heading;
  font-size: 28px;
}

h3 {
  @extend .heading;
  font-size: 26px;
}

h4 {
  @extend .heading;
  font-size: $font-size-l;
}

h5 {
  @extend .heading;
  font-size: $font-size-m;
}

h6 {
  @extend .heading;
  font-size: $font-size-sm;
}

p {
  margin: 0 0 2em;
  font-size: $font-size-sm;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  word-spacing: $word-spacing;
}

.link {
  &:link,
  &:active,
  &:visited {
    color: $color-primary;
  }
}

a {
  @extend .link;
}
