// Colors

$white              : #ffffff;
$black              : #000000;
$gray-dark          : #192438;
$gray               : #3A5169;
$gray-light         : #F3F3F3;
$yellow             : #FFF319;
$blue               : #009ec5;
$green              : #04E740;

$color-primary      : $green;
$color-secondary    : $blue;

// Fonts
$font-family-base   : 'Orbitron', sans-serif;
$font-weight-base   : normal;
$font-weight-bold   : 700;
$font-color-base    : $gray-dark;
$font-size-base     : 16px;
$font-size-s        : 14px;
$font-size-sm       : 18px;
$font-size-m        : 20px;
$font-size-l        : 24px;
$font-size-xl       : 32px;

$spacer             : 8px;
$spacer-sm          : 12px;
$spacer-m           : 16px;
$spacer-l           : 24px;
$spacer-xl          : 32px;
$spacer-xxl         : 64px;

$line-height        : 1.5;
$letter-spacing     : 0.12em;
$word-spacing       : 0.16em;

$border-color       : $color-primary;
$border-color--light: $gray-light;

$border             : 2px dashed $border-color;
$border--light      : 1px solid $border-color--light;

$max-content-width  : 1600px;

// MQ breakpoints
$sm                 : 576px;
$md                 : 768px;
$lg                 : 992px;
$xl                 : 1200px;

$transition         : all 0.3s ease-in-out;
