<!DOCTYPE html>
<html lang="en">
<head>
<title>Aliens a11y website - about us</title>
<meta charset="utf-8">
<meta name="description" content="Aliens a11y website">
<meta name="keywords" content="accessibility,a11y,web,workshops">
<meta name="author" content="Anqa">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Orbitron:400,700"
      preload
>
</head>

<body>
  <div class="container">
    <%= require('html-loader!./templates/header.html') %>
  </div>
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="content">
            <h1>About us</h1>
            <h3>Aliens like imaginary unit</h3>
            <p>We are not like you, Humans, made up of some elements like oxygen, carbon, hydrogen etc... We are matter, substance of idea and emotions, some infinite data structure expending in it's own negative. It's as confused as an imaginary unit "i", defined i<sup>2</sup> = -1.</p>
            <p>We can materialize and take a look of divers figures and personages.</p>
            <p>
              <img data-src="./images/alien-i.jpg" class="image lazyload" />
            </p>
            <p>We are coming in peace and we just curious how your lives look like.</p>
            <h2>Our galaxy</h2>
            <p>Our galaxy is far far away from your. It's really beautiful, full of lights and colors.</p>
            <p>We found other beings on the other planet in our galaxy but we are working of communication tunnel with them. They don't have WEB so it's not so easy to reach them.</p>
            <p>Some views from our galaxy</p>
            <div class="images row">
              <div class="col-xs-12 col-md-6">
                <img data-src="./images/galaxy-y.jpg" class="image lazyload" />
              </div>
              <div class="col-xs-12 col-md-6">
                <img data-src="./images/galaxy-y2.jpg" class="image lazyload" />
              </div>
              <div class="col-xs-12 col-md-6">
                <img data-src="./images/galaxy-y3.jpg" class="image lazyload" />
              </div>
              <div class="col-xs-12 col-md-6">
                <img data-src="./images/galaxy-y4.jpg" class="image lazyload" />
              </div>
            </div>
            <p>We have seen on the web, that Earth is even more beautiful... We dream to visit such places...</p>
            <div class="images row">
              <div class="col-xs-12 col-md-6">
                <img data-src="./images/earth-1.jpg" class="image lazyload" />
              </div>
              <div class="col-xs-12 col-md-6">
                <img data-src="./images/earth-2.jpg" class="image lazyload" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= require('html-loader!./templates/footer.html') %>
</body>
</html>
