<!DOCTYPE html>
<html lang="en">
<head>
<title>Aliens a11y website - contact</title>
<meta charset="utf-8">
<meta name="description" content="Aliens a11y website">
<meta name="keywords" content="accessibility,a11y,web,workshops">
<meta name="author" content="Anqa">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Orbitron:400,700"
      preload
>
</head>

<body>
  <div class="container">
    <%= require('html-loader!./templates/header.html') %>
  </div>
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div class="content">
            <h1>Contact</h1>
            <h2>Hmm...</h2>
            <p>For now we don't have any contact tunnel. If you have any question, please write on: anna.karon@snow.dog, we are up to date to her message box ;)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= require('html-loader!./templates/footer.html') %>
</body>
</html>
