<!DOCTYPE html>
<html>

<head>
  <title>Aliens a11y website</title>
  <meta charset="utf-8">
  <meta name="description" content="Aliens a11y website">
  <meta name="keywords" content="accessibility,a11y,web,workshops">
  <meta name="author" content="Anqa">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron:400,700" preload>
</head>

<body>
  <div class="container">
    <%= require('html-loader!./templates/header.html') %>
  </div>
  <div class="main">
    <div class="top-banner">
      <picture class="image lazyload top-banner__image">
        <source data-srcset="./images/ufo-480.jpg" media="(max-width: 480px)" />
        <source data-srcset="./images/ufo-768.jpg" media="(max-width: 768px)" />
        <source data-srcset="./images/ufo-1024.jpg" media="(max-width: 1024px)" />
        <source data-srcset="./images/ufo-wide.jpg" media="" />

        <img
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="./images/ufo-320.jpg"
          class="lazyload img"
        />
      </picture>
      <div class="container">
        <div class="top-banner__content">
          <h1>We are coming...</h1>
          <h2>Hi Earthmen! How are you?</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div class="content">
            <h2>We would like to meet you, Guys!</h2>
            <p>Dear Humans, we are beings from other galaxy and we have been exploring your world for a while. You're really
              interesting. We should introduce ourselves but it's quite difficult. Let's say that we are a little like your
              "i" number (imaginary unit). You can call us just "aliens", we like this expression. #lol</p>
            <p>More about us you can find <a href="/about.html">here</a>
            </p>
            <h3>What's all about...</h3>
            <p>We would like to contact you and maybe, in the future, visit your beautiful planet.
              <br>When we discover "Earth", we decided to find the way of communication with you. Data 'on the WEB' (how you
              call it) it's tremendous source of knowledge for us. Wow! We are impressed. We can transfer a lot of data in
              a very short time but even for us it's hard to keep up with you...</p>
            <p>After some analysis we decide to use this tool to say hello - we have learn your language, (it can be broken
              sometimes, sorry about that) and we have created this small website. You have quite nice range of frontend
              tutorials ;) However, we have some problem with accessibility, this WCAG docs it's so hard to understand,
              <strong>please help!</strong> We want to contact all of you, it has to be inclusive conversation. And it’s so hot topic
              now next to PWA!</p>
            <h4>We can look like this while relaxing:</h4>
            <picture class="image lazyload">
              <source data-srcset="./images/i-dont-know-how-name-this-image-480.jpg" media="(max-width: 480px)" />
              <source data-srcset="./images/i-dont-know-how-name-this-image.jpg" />

              <img
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="./images/i-dont-know-how-name-this-image-480.jpg.jpg"
                class="lazyload img"
              />
            </picture>
          </div>
        </div>
        <%= require('html-loader!./templates/sidebar.html') %>
      </div>
    </div>
  </div>
  <%= require('html-loader!./templates/footer.html') %>
</body>

</html>
