@import 'lib/lazysizes';
@import 'base/normalize';
@import '~flexboxgrid2';
@import 'base/var';
@import 'base/focus';
@import 'base/typography';
@import 'mixin/mq';

// components
@import 'components/button';
@import 'components/card';
@import 'components/footer';
@import 'components/header';
@import 'components/image';
@import 'components/logo';
@import 'components/nav';
@import 'components/top-banner';

*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
  font-size: $font-size-base;
  font-family: 'Orbitron', sans-serif;
  color: white;
  background-color: black;
  transition: all 0.5s;
}
.main {
  min-height: 80vh;
}
.content {
  padding: $spacer-xl $spacer-m;
}
